PORT=4000
FRONTEND_URL=https://food-fun-restaurant.vercel.app/
VITE_SERVER_URL=https://your-backend-name.onrender.com
MONGO_URI=mongodb+srv://your_username:your_password@cluster0.kgh7nhg.mongodb.net/?appName=Cluster0